<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT displayInHeaderNavigation ANY>
<!ATTLIST displayInHeaderNavigation id ID #REQUIRED>
<!ELEMENT game ANY>
<!ATTLIST game id ID #REQUIRED>
<!ELEMENT GameContent ANY>
<!ATTLIST GameContent id ID #REQUIRED>
<!ELEMENT gameContentFolder ANY>
<!ATTLIST gameContentFolder id ID #REQUIRED>
<!ELEMENT metaData ANY>
<!ATTLIST metaData id ID #REQUIRED>
<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>

]>
<root id="-1">
  <site id="1048" key="5d54008f-49e5-4d5b-8d7d-170cf0c88279" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-10T12:53:16" updateDate="2016-08-10T13:17:45" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1046" nodeTypeAlias="site">
    <inHeader>1</inHeader>
    <content><![CDATA[<h1>Hi</h1>]]></content>
    <siteName><![CDATA[Team Daiqiuri]]></siteName>
    <contentPage id="1053" key="40f69816-9439-4932-9852-0c1f63328e29" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2016-08-10T13:19:37" updateDate="2016-08-10T13:19:37" nodeName="Video Presentation" urlName="video-presentation" path="-1,1048,1053" isDoc="" nodeType="1052" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1051" nodeTypeAlias="contentPage">
      <inHeader>1</inHeader>
    </contentPage>
    <game id="1056" key="411f46f0-86f8-409c-9c29-8e03be4c5a4c" parentID="1048" level="2" creatorID="0" sortOrder="1" createDate="2016-08-10T13:44:52" updateDate="2016-08-10T14:48:06" nodeName="Space Invaders" urlName="space-invaders" path="-1,1048,1056" isDoc="" nodeType="1055" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1054" nodeTypeAlias="game">
      <inHeader>1</inHeader>
      <content><![CDATA[<?UMBRACO_MACRO macroAlias="GameContent" ContentZipArchive="1065" />]]></content>
    </game>
    <metaData id="1063" key="59eee26b-002d-4f9f-8bb7-b2e3a8e381cc" parentID="1048" level="2" creatorID="0" sortOrder="2" createDate="2016-08-10T14:46:08" updateDate="2016-08-10T14:46:08" nodeName="Meta Data" urlName="meta-data" path="-1,1048,1063" isDoc="" nodeType="1058" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1057" nodeTypeAlias="metaData">
      <gameContentFolder id="1064" key="5febcaa1-057d-4907-a60f-39afaf9396e7" parentID="1063" level="3" creatorID="0" sortOrder="0" createDate="2016-08-10T14:46:18" updateDate="2016-08-10T14:46:18" nodeName="Game Content Folder" urlName="game-content-folder" path="-1,1048,1063,1064" isDoc="" nodeType="1060" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1059" nodeTypeAlias="gameContentFolder">
        <GameContent id="1065" key="5f07a280-40ed-4916-9768-1c15f168fe69" parentID="1064" level="4" creatorID="0" sortOrder="0" createDate="2016-08-10T14:47:32" updateDate="2016-08-10T15:02:50" nodeName="Space Invaders" urlName="space-invaders" path="-1,1048,1063,1064,1065" isDoc="" nodeType="1062" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1061" nodeTypeAlias="GameContent">
          <contentZipArchive><![CDATA[/media/1001/spaceship.zip]]></contentZipArchive>
          <width><![CDATA[1000]]></width>
          <height><![CDATA[800]]></height>
        </GameContent>
      </gameContentFolder>
    </metaData>
  </site>
</root>