<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT displayInHeaderNavigation ANY>
<!ATTLIST displayInHeaderNavigation id ID #REQUIRED>
<!ELEMENT game ANY>
<!ATTLIST game id ID #REQUIRED>
<!ELEMENT GameContent ANY>
<!ATTLIST GameContent id ID #REQUIRED>
<!ELEMENT gameContentFolder ANY>
<!ATTLIST gameContentFolder id ID #REQUIRED>
<!ELEMENT metaData ANY>
<!ATTLIST metaData id ID #REQUIRED>
<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>

]>
<root id="-1">
  <site id="1048" key="5d54008f-49e5-4d5b-8d7d-170cf0c88279" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-10T12:53:16" updateDate="2016-08-11T23:11:54" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1046" nodeTypeAlias="site">
    <inHeader>1</inHeader>
    <content><![CDATA[<div class="main">
<div class="section">
<div class="container">
<div class="row tim-row">
<h2 class="text-center">Кратко описание на проекта</h2>
<div class="col-md-8 col-md-offset-2">
<p>Проектът представлява игра целяща да наподобява известната игра от преди няколко десетилетия - "Space Invaders".</p>
<p>Проектът е реализиран с технологиите JavaScript, HTML5, CSS3 и ASP.NET.</p>
</div>
</div>
</div>
</div>
</div>
<p> </p>
<div class="container">
<h2 class="text-center">Видео презентация на отбор "<span>Daiquiri"</span></h2>
<div class="space-bottom-30 embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YqeW9_5kURI">
    </iframe></div>
</div>
<div class="section section-nude section-with-space">
<div class="container tim-container">
<div class="row">
<div class="col-md-8 col-md-offset-2 text-center">
<h2>Вижте нашата игра!</h2>
<p><a data-id="1056" href="/{localLink:1056}" title="Space Invaders" class="btn btn-danger btn-fill btn-block btn-lg">Space invaders</a></p>
</div>
</div>
<div class="row sharing-area text-center">
<h3>Или вижте нашия код!</h3>
<a href="https://github.com/TeamDaiquiri" class="btn"> GitHub </a></div>
</div>
</div>
<div class="section section-dark text-center landing-section">
<div class="container">
<h2>Нашият отбор</h2>
<div class="col-md-4">
<div class="team-player"><img class="img-circle img-responsive" src="/media/1002/fotev.jpg" alt="" rel="1067" data-id="1067" />
<h5>Стефан Фотев<br />sfo321</h5>
</div>
</div>
<div class="col-md-4">
<div class="team-player"><img class="img-circle img-responsive" src="/media/1003/koserkov.jpg" alt=" " rel="1068 " data-id="1068 " />
<h5>Стефан Косерков <br />Sparx92</h5>
</div>
</div>
<div class="col-md-4">
<div class="team-player"><img class="img-circle img-circle img-responsive" src="/media/1004/kristiqn.jpg" alt=" " rel="1069 " data-id="1069 " />
<h5>Кристиян Гериловски<br />Gerilovski</h5>
</div>
</div>
<div class="col-md-4">
<div class="team-player"><img class="img-circle img-circle img-responsive" src="/media/1005/sewo.jpg" alt=" " rel="1070 " data-id="1070 " />
<h5>Севдалин Желязков<br />irrealizable</h5>
</div>
</div>
<div class="col-md-4">
<div class="team-player"><img class="img-circle img-circle img-responsive" src="/media/1006/tara.jpg" alt=" " rel="1071 " data-id="1071 " />
<h5>Татяна Рангелова<br />TanyaRan</h5>
</div>
</div>
<div class="col-md-4">
<div class="team-player"><img class="img-circle img-circle img-responsive" src="/media/1007/bojko.jpg" alt=" " rel="1072 " data-id="1072 " />
<h5>Бойко Бонев<br />BoykoBonev</h5>
</div>
</div>
</div>
</div>]]></content>
    <siteName><![CDATA[Team Daiqiuri]]></siteName>
    <game id="1056" key="411f46f0-86f8-409c-9c29-8e03be4c5a4c" parentID="1048" level="2" creatorID="0" sortOrder="1" createDate="2016-08-10T13:44:52" updateDate="2016-08-10T14:48:06" nodeName="Space Invaders" urlName="space-invaders" path="-1,1048,1056" isDoc="" nodeType="1055" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1054" nodeTypeAlias="game">
      <inHeader>1</inHeader>
      <content><![CDATA[<?UMBRACO_MACRO macroAlias="GameContent" ContentZipArchive="1065" />]]></content>
    </game>
    <metaData id="1063" key="59eee26b-002d-4f9f-8bb7-b2e3a8e381cc" parentID="1048" level="2" creatorID="0" sortOrder="2" createDate="2016-08-10T14:46:08" updateDate="2016-08-10T14:46:08" nodeName="Meta Data" urlName="meta-data" path="-1,1048,1063" isDoc="" nodeType="1058" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1057" nodeTypeAlias="metaData">
      <gameContentFolder id="1064" key="5febcaa1-057d-4907-a60f-39afaf9396e7" parentID="1063" level="3" creatorID="0" sortOrder="0" createDate="2016-08-10T14:46:18" updateDate="2016-08-10T14:46:18" nodeName="Game Content Folder" urlName="game-content-folder" path="-1,1048,1063,1064" isDoc="" nodeType="1060" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1059" nodeTypeAlias="gameContentFolder">
        <GameContent id="1065" key="5f07a280-40ed-4916-9768-1c15f168fe69" parentID="1064" level="4" creatorID="0" sortOrder="0" createDate="2016-08-10T14:47:32" updateDate="2016-08-10T15:02:50" nodeName="Space Invaders" urlName="space-invaders" path="-1,1048,1063,1064,1065" isDoc="" nodeType="1062" creatorName="Stefan Koserkov" writerName="Stefan Koserkov" writerID="0" template="1061" nodeTypeAlias="GameContent">
          <contentZipArchive><![CDATA[/media/1001/spaceship.zip]]></contentZipArchive>
          <width><![CDATA[1000]]></width>
          <height><![CDATA[800]]></height>
        </GameContent>
      </gameContentFolder>
    </metaData>
  </site>
</root>